$color-background: #F2F2F2;
$color-primary: #1698D9;
$color-light: #fff;
$color-text: #000;
$color-text-additional: #666666;
$color-hover: #2EA8E6;
$color-selected: #D91667;
$color-hover-selected:  #E52E7A;
$color-disabled: #FFFF66;

$content-width: 1280px;
$tablet-width: 1177px;