html {
    font-size: 10px;
}

body {
    @extend %font-prim;
    @include font($size: 1.4rem);
}

h1 {
    @include font($size: 3.6rem, $height: 4.4rem, $weight: bold);
    color: $color-text;
}

h2 {
    @extend %font-add;
    @include font($size: 3.6rem, $height: 4.4rem, $weight: lighter);
    text-shadow: 0px 1px 1px #000000;
    color: $color-light;
    margin-top: 10%;
    margin-bottom: 4%;
}

h3 {
    @include font($size: 2.4rem, $height: 2.8rem, $weight: bold);
    color: $color-text;
    margin-bottom: 15px;
}